.movieCard {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid rebeccapurple;
}
.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}